// light color
$primary-light-color : #ffffff;

// dark color
$primary-dark-color : #000000e0;
$secondary-dark-color : #073620;

// universan color
$primary-text-color : #41b883;
$secondary-text-color : #34495e;
